.container {
    background-color: b83c47;
    display: grid;
    row-gap: 16px;
    column-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 70px 150px auto 50px;
    grid-template-areas:
            "header"
            "aside-small"
            "aside-large"
            "content"
            "footer";
}
#item-a {
    grid-area: header;
}

#item-b {
    grid-area: aside-small;
}

#item-c {
    grid-area: aside-large;
}

#item-d {
    grid-area: content;
}

#item-e {
    grid-area: footer;
}

/*styling hierbuiten wordt toegepast op mobiel EN mobiel en groter*/
@media screen and (min-width: 576px) {
    /*styling toegepast op GROTER dan mobiel*/
    /*dus tablets en web en beyond*/
.container {
background-color: bleu;
    display: grid;
    row-gap: 16px;
    column-gap: 16px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 70px auto 50px;
    grid-template-areas:
            "header header"
            "content aside-small"
            "content aside-large"
            "footer aside-large";
}
}
/*@media screen and (min-width: 1024px) {​​*/
/*    !*styling toegepast op GROTER dan tablet*!*/
/*}​​*/


